# Qdrant Cloud
QDRANT_URL = "https://your-cluster-url.aws.cloud.qdrant.io"
QDRANT_API_KEY = "your-qdrant-api-key"

# DeepSeek API
DEEPSEEK_API_KEY = "sk-your-deepseek-key"

# LangSmith Tracing
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_ENDPOINT = "https://api.smith.langchain.com"
LANGCHAIN_API_KEY = "lsv2_pt_your_key"
LANGCHAIN_PROJECT = "DeepSeek-MultiHop-RAG"

# Gemini API
GEMINI_API_KEY = "your-gemini-api-key"